<div class="breadcrumbs">
   <div class="container">
      <div class="breadcrumbs_container">
         <a href="/">bрайтbeрри</a> <img src="{{ 'assets/images/arrow.png'|theme }}" alt="">
         {% if this.page.id == 'product' or this.page.id == 'products-cat' or this.page.id == 'blog-post' %}
            {% if this.page.id == 'blog-post' %}
            <a href="/blog">Блог</a>
            {% else %}
            <a href="/products">Портфолио</a>
            {% endif %}
            <img src="{{ 'assets/images/arrow.png'|theme }}" alt="">

            {% if this.page.id == 'product' %}
            <a href="/products/category/{{ category_slug }}">{{category_name}}</a>
            <img src="{{ 'assets/images/arrow.png'|theme }}" alt="">
            {% endif %}
         <span>{{ product_name }}</span>
         {% else %}
         <span>{{ this.page.title }}</span>
         {% endif %}
      </div>
   </div>
</div>