<footer>
    <div class="container">
        <div class="foot_container">

            <a class="logo_f" href="#"><img src="{{ 'assets/images/logo_f.png'|theme }}" alt=""></a>

            <div class="foot_social">
                <a href="#"><img src="{{ 'assets/images/soc1.png'|theme }}" alt=""></a>
                <a href="#"><img src="{{ 'assets/images/soc2.png'|theme }}" alt=""></a>
                <a href="#"><img src="{{ 'assets/images/soc3.png'|theme }}" alt=""></a>
            </div>

            <p class="copy">BRIGHTBERRY © 2018</p>
            <p class="f_mail">info@brightberry.ru</p>
            <p class="f_phone">+7 (812) 633-04-10</p>


        </div>
    </div>
</footer>