<div class="container">
    <div class="head_container">
        <div class="menu_btn home_btn">Меню <span></span></div>
        {% partial 'site/menu-header' %}
        <div class="head_social">
            <a href="#"><img src="{{ 'assets/images/soc1.png'|theme }}" alt=""></a>
            <a href="#"><img src="{{ 'assets/images/soc2.png'|theme }}" alt=""></a>
            <a href="#"><img src="{{ 'assets/images/soc3.png'|theme }}" alt=""></a>
        </div>
        <div class="logo"><img src="{{ 'assets/images/logo.png'|theme }}" alt=""></div>
        <div class="city">СДЕЛАНО В САНКТ-ПЕТЕРБУРГЕ</div>
        <div class="mouse"><img src="{{ 'assets/images/mouse.png'|theme }}" alt=""></div>
    </div>
</div>

<ul id="slides">
    <div class="head_bg showing"><img src="{{ 'assets/images/header.jpg'|theme }}" alt=""></div>
    <div class="head_bg"><img src="{{ 'assets/images/header2.jpg'|theme }}" alt=""></div>
    <div class="head_bg"><img src="{{ 'assets/images/header3.jpg'|theme }}" alt=""></div>
</ul>